* {
  padding: 0;
  margin: 0;
}

nav {
  position: sticky;
  display: flex; /* doesnt work */
  border: 2px solid black;
  border-radius: 10px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5px;
  padding-left: 100px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav_name {
  display: flex;
  //   border: 2px solid blue;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  //   border: 2px solid blue;
  gap: 10px;
}

.nav_links_header {
  display: flex;
  //   border: 2px solid green;
  justify-content: center;
  text-align: center;
  padding: 2px;
}

.home_container {
  border: 2px solid yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 20px;
  align-content: flex-start;
  background-color: skyblue;
  // height: 77.2vw;
  max-height: 77.2vw;
}

.home_header_flex {
  display: flex;
  align-self: flex-start;
  padding: 5px;
  border: 2px solid red;
  width: 100%;
}

.home_header {
  border: 2px solid blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6.5vw;
  @media screen and (min-width: 1920px) {
    font-size: 124px;
  }
}

.home_img_flex {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid orange;
}

.home_img {
  border: 2px solid blue;
  width: 100%;
  max-width: 1280px;
  max-height: 500px;
}

.home_tagline_flex {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border: 2px solid red;
}

.home_tagline {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid purple;
  font-size: 3.8vw;
  @media screen and (min-width: 1920px) {
    font-size: 72px;
  }
}

.main_container {
  //container that borders the entire main tag
  // display: flex;
  // border: 2px solid green;
  height: 100%; //gotta change to vw
  background-color: cadetblue;
}

.projects_flex_header {
  //flex container for the 'Projects' header
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 4vw;
  // border: 2px solid blue;
}

.projects_container--primary {
  //umbrella flex container for the project cards
  // border: 2px solid orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 48%;
}

.projects_container--secondary {
  //umbrella flex container for the project cards
  // border: 2px solid orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 48%;
}

.projects_container_card {
  //properties distributed to each project card
  // border: 2px solid yellow;
  flex-direction: column;
  display: flex;
  margin: 20px;
  // flex-wrap: wrap;
  max-width: 500px;
  // max-height: 550px;
}

.projects_card_img {
  border: 2px solid black;
  // width: 500px;
  height: 350px;
}

.projects_card_title {
  // border: 2px solid blue;
  padding: 10px;
  text-align: center;
  font-size: 1.8vw;
}

.projects_card_paragraph {
  display: flex;
  // border: 2px solid purple;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1vw;
  height: 100%;
}
