* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex; /* doesnt work */
  border: 2px solid black;
  background-color: lightblue;
  border-radius: 10px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5px;
  padding-left: 100px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
}

.nav_name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.nav_links_header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2px;
}

.home_container {
  border: 2px solid yellow;
  display: flex;
  flex-wrap: wrap;
}

.home_container_content {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid green;
  justify-content: stretch;
  align-content: flex-start;
  gap: 20px;
  background-color: skyblue;
  height: 94vh;
}

.home_header_flex {
  display: flex;
  align-self: flex-start;
  padding: 5px;
  border: 2px solid red;
  width: 100%;
}

.home_header {
  border: 2px solid blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6.5vw;
}
@media screen and (min-width: 1920px) {
  .home_header {
    font-size: 124px;
  }
}

.home_img_flex {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid orange;
}

.home_img {
  border: 2px solid blue;
  width: 100%;
  max-width: 1280px;
  max-height: 500px;
}

.home_tagline_flex {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border: 2px solid red;
}

.home_tagline {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid purple;
  font-size: 3.8vw;
}
@media screen and (min-width: 1920px) {
  .home_tagline {
    font-size: 72px;
  }
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid green;
  min-height: 94vh;
  background-color: cadetblue;
}

.projects_header {
  display: flex;
  justify-content: flex-start;
  border: 2px solid blue;
  font-size: 72px;
  width: 100%;
}

.projects_container {
  display: flex;
  border: 2px solid red;
  flex-wrap: wrap;
  align-items: center;
  min-height: 86vh;
}

.projects_container--primary {
  border: 2px solid orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 20px;
  padding: 10px;
}

.projects_container--secondary {
  border: 2px solid orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 20px;
  padding: 10px;
}

.projects_container_card {
  border: 2px solid yellow;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 100%;
  font-size: 18px;
}

.projects_card_img {
  border: 2px solid red;
}

.projects_card_title {
  border: 2px solid blue;
  padding: 10px;
  text-align: center;
  font-size: 1vw;
}

.projects_card_paragraph {
  display: flex;
  border: 2px solid purple;
  flex-wrap: wrap;
  text-align: center;
  font-size: 90%;
  width: 80%;
}

.main_container--skills {
  background-color: navy;
  display: flex;
  flex-wrap: flex-start;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  min-height: 94.5vh;
  height: 94.5vh;
  width: 100vw;
}

.skills_header {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  width: 100%;
  font-size: 8vw;
  color: aliceblue;
}

.skills_cards_container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 50%;
  align-self: center;
}

.skills_header--edu {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 6vw;
  color: aliceblue;
}

.skills_cards_container--edu {
  display: flex;
  justify-content: space-around;
  justify-self: start;
}

.skills_cards_container_img {
  max-width: 40%;
  max-height: 10vh;
}

.skills_cards_container--primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}

.skills_cards_container--secondary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}

.skills_cards_icon {
  width: 200px;
  height: 200px;
}
