@use "./partials/mixins";

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.scroll_marker {
  // border: 2px solid red;
  width: 100vw;
  @include mixins.xsmall {
    height: 76px;
  }
  height: 52px;
}

#top {
  background-image: linear-gradient(to top right, #023e8a, #90e0ef);
  width: 100vw;
}

#projects {
  background-color: #caf0f8;
}

#skills {
  background-color: #0077b6;
}

#aboutme {
  background-color: #caf0f8;
}

nav {
  display: flex;
  border: 2px solid black;
  background-color: aliceblue;
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  @include mixins.xsmall {
    padding: 20px 30px 20px 20px;
  }

  justify-content: space-between;
  align-items: flex-start;
  // margin: 5px;
  padding: 20px 30px 20px 100px;
}

.nav_name {
  display: flex;
  // border: 2px solid blue;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  @include mixins.xsmall {
    font-size: 12px;
  }
}

.nav_name:hover {
  color: #0077b6;
  cursor: default;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  //   border: 2px solid blue;
  gap: 10px;
}

.nav_links_header:visited {
  color: black;
  text-decoration: none;
}

.nav_links_header:hover {
  color: #03045e;
  text-decoration: none;
}

.nav_links_header {
  display: flex;
  // border: 2px solid green;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  @include mixins.xsmall {
    font-size: 14px;
  }
  padding: 2px;
}

.home {
  // border: 2px solid yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mixins.xsmall {
    align-content: flex-start;
  }
  align-content: flex-start;
  gap: 20px;
  background-image: linear-gradient(to top right, #023e8a, #90e0ef);
  min-height: 94.8vh;
}

.home__header {
  // border: 2px solid blue;
  animation: ease 3s fadeInAnimation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: "Inter", sans-serif;
  width: 100%;
  color: #caf0f8;
  margin-left: 20px;
  @include mixins.xsmall {
    font-size: 64px;
    text-align: center;
    padding-top: 20px;
  }
  @include mixins.small {
    font-size: 84px;
    text-align: left;
    padding-top: 20px;
  }
  @include mixins.medium {
    font-size: 94px;
    text-align: left;
    padding-top: 20px;
  }
  @include mixins.large {
    font-size: 102px;
    text-align: left;
    padding-top: 20px;
  }
  font-size: 6.5vw;
  @media screen and (min-width: 1920px) {
    font-size: 160px;
  }
}

.home__flex--img {
  animation: ease 3s fadeInAnimation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  width: 95%;
  background-color: #caf0f8;
  padding: 10px;
  border-radius: 15px;
  // border: 2px solid orange;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero-photo {
  animation: ease 3s fadeInAnimation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border: 20px solid #caf0f8;
  @include mixins.large {
    width: 960px;
    height: 375px;
  }
  width: 100%;
  max-width: 1280px;
  max-height: 500px;
  border-radius: 20px;
}

.home__tagline {
  font-family: Arial, Helvetica, sans-serif;
  color: #caf0f8;
  margin-right: 20px;
  animation: ease 3s fadeInAnimation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  // border: 2px solid purple;
  @include mixins.xsmall {
    font-size: 36px;
    text-align: center;
  }
  @include mixins.small {
    font-size: 42px;
    text-align: right;
  }
  @include mixins.medium {
    font-size: 54px;
    text-align: right;
  }
  @include mixins.large {
    font-size: 58px;
    text-align: right;
  }
  font-size: 3.8vw;
  width: 100%;
  text-align: right;
  @media screen and (min-width: 1920px) {
    font-size: 72px;
  }
}

#downlink {
  // border: 2px solid lime;
  mix-blend-mode: darken;
  z-index: -10;
  @include mixins.xsmall {
    width: 50px;
    height: 50px;
    margin-top: 70px;
  }
  @include mixins.small {
    width: 100px;
    height: 100px;
    margin-top: 110px;
  }
  @include mixins.medium {
    width: 100px;
    height: 100px;
  }
  @include mixins.large {
    width: 100px;
    height: 100px;
  }
  @include mixins.xlarge {
    width: 150px;
    height: 150px;
  }
}

//container that borders the entire main tag
.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // border: 2px solid green;
  // height: 94vh;
  min-height: 94vh;
  background-color: #caf0f8;
}

//flex container for the 'Projects' header
.projects__header {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  padding-top: 20px;
  margin-left: 20px;
  // border: 2px solid blue;
  @include mixins.xsmall {
    font-size: 48px;
  }
  @include mixins.large {
    font-size: 64px;
  }
  font-size: 72px;
}

.projects__container {
  display: flex;
  // border: 2px solid red;
  flex-wrap: wrap;
  align-items: center;
  min-height: 86vh;
}

//umbrella flex container for the project cards
.projects__container__row {
  // border: 2px solid orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 20px;
  padding: 10px;
}

//properties distributed to each project card
.projects__container__row__card {
  // border: 2px solid yellow;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mixins.xsmall {
    width: 90%;
  }
  @include mixins.large {
    width: 450px;
  }
  @include mixins.xlarge {
    width: 500px;
  }
  @include mixins.xxlarge {
    width: 600px;
  }
  width: 480px;
  height: 100%;
  font-size: 18px;
}

.projects__card__img {
  // border: 2px solid red;
  // max-width: 500px;
  // max-height: 350px;
  box-shadow: 3px 3px 10px rgb(128, 128, 128);
  @include mixins.xsmall {
    height: 75%;
    width: 75%;
  }
  @include mixins.xxlarge {
    height: 100;
    width: 100;
  }
  height: 100%;
  width: 100%;
}

.projects__card__img:hover {
  box-shadow: 3px 3px 10px #0077b6;
}

.projects__card__title {
  // border: 2px solid blue;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  @include mixins.xxlarge {
    font-size: 36px;
  }
}

.projects__card__paragraph {
  display: flex;
  // border: 2px solid purple;
  flex-wrap: wrap;
  text-align: center;
  font-size: 90%;
  width: 100%;
  margin-bottom: 20px;
  @include mixins.xxlarge {
    font-size: 24px;
  }
}

.skills {
  background-color: #0077b6;
  // border: 2px solid yellow;
  display: flex;
  flex-wrap: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  min-height: 95.8vh;
  // height: 94.5vh; //ooooh
  // width: 100vw; //ahh
}

.skills_header {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  color: aliceblue;
  padding-top: 20px;
  margin-right: 20px;
  // border: 2px solid blue;
  width: 98%;
  @include mixins.xsmall {
    font-size: 48px;
  }
  @include mixins.small {
    font-size: 54px;
  }
  @include mixins.medium {
    font-size: 58px;
  }
  @include mixins.large {
    font-size: 64px;
  }
  font-size: 100px;
}

.skills_container {
  display: flex;
  border: 5px solid aliceblue;
  border-radius: 40px;
  align-self: center;
  align-items: center;
  // flex-direction: column;
  flex-wrap: wrap;
  @include mixins.xsmall {
    width: 100px;
  }
  @include mixins.large {
    width: 500px;
  }
  @include mixins.xlarge {
    width: 600px;
  }
  // @include mixins.xsmall {
  //   width: 200px;
  // }
  width: 40%;
  min-height: 44vh;
  // height: 70%;
}

.skills_container--edu {
  display: flex;
  flex-direction: column;
  min-height: 24vh;
  // border: 2px solid red;
  background-color: aliceblue;
}

.skills_header--edu {
  display: flex;
  justify-content: flex-start;
  // border: 2px solid blue;
  color: #0077b6;
  width: 95;
  margin-left: 40px;
  @include mixins.xsmall {
    font-size: 48px;
  }
  @include mixins.small {
    font-size: 54px;
  }
  @include mixins.medium {
    font-size: 58px;
  }
  @include mixins.large {
    font-size: 64px;
  }
  font-size: 100px;
}

.skills_container_row--edu {
  display: flex;
  // border: 2px solid lime;
  justify-content: space-around;
  justify-self: start;
}

.skills_container_row_img {
  // border: 2px solid orange;
  max-width: 40%;
  max-height: 10vh;
}

.skills_container_row {
  // border: 2px solid orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @include mixins.xsmall {
    justify-content: center;
    height: 300px;
  }
  align-items: center;
  width: 100%;
  height: 50%;
}

.skills_container_row_icon {
  // border: 2px solid yellow;
  @include mixins.xsmall {
    width: 100px;
    height: 100px;
  }
  @include mixins.small {
    width: 150px;
    height: 150px;
  }
  @include mixins.medium {
    width: 175px;
    height: 175px;
  }
  width: 200px;
  height: 200px;
}

.aboutme {
  background-color: #caf0f8;
  // border: 2px solid green;
  display: flex;
  flex-wrap: flex-start;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  min-height: 94.5vh;
}

.aboutme__header {
  display: flex;
  justify-content: center;
  // border: 2px solid blue;
  width: 100%;
  @include mixins.xsmall {
    font-size: 48px;
    margin: 15px;
  }
  @include mixins.small {
    font-size: 54px;
    margin: 15px;
  }
  @include mixins.medium {
    font-size: 68px;
    margin: 5px;
  }
  font-size: 100px;
}

.aboutme__container {
  display: flex;
  flex-wrap: wrap;
  // border: 2px solid red;
  align-items: center;
  justify-content: space-around;
  @include mixins.xsmall {
    width: 80%;
    min-width: 0px;
    min-height: 0px;
    // max-height: 250px;
  }
  @include mixins.small {
    width: 80%;
    min-width: 0px;
    min-height: 0px;
    // max-height: 250px;
  }
  @include mixins.medium {
    width: 80%;
    min-width: 0px;
    min-height: 0px;
    // max-height: 250px;
  }
  @include mixins.large {
    width: 80%;
    min-width: 0px;
    min-height: 0px;
    // max-height: 250px;
  }
  @include mixins.xlarge {
    width: 90%;
    min-width: 0px;
    min-height: 0px;
    // max-height: 250px;
  }

  width: 60%;
  min-height: 64vh;
  min-width: 400px;
  max-width: 1600px;
  height: 80%;
  gap: 30px;
  // justify-self: center;
}

.aboutme__container__card--img {
  display: flex;
  // border: 2px solid orange;
  width: 50%;
  height: 100%;
  max-width: 500px;
  justify-content: center;
}

.aboutme__container__card--p {
  display: flex;
  // border: 2px solid orange;
  width: 40%;
  min-width: 200px;
  @include mixins.xsmall {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  @include mixins.small {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  @include mixins.medium {
    width: 40%;
    font-size: 22px;
    // text-align: center;
  }
  @include mixins.large {
    width: 40%;
    font-size: 22px;
    // text-align: center;
  }
  @include mixins.xlarge {
    width: 50%;
    font-size: 24px;
    // text-align: center;
  }
  font-size: 30px;
}

#contact-image {
  // border: 2px solid blue;
  width: 100%;
  border-radius: 90px;
  box-shadow: 20px 20px #03045e;
  @include mixins.xsmall {
    box-shadow: 0px 0px #03045e;
  }
  @include mixins.large {
    width: 80%;
    height: 80%;
    // box-shadow: 40px 40px #03045e;
  }
  @include mixins.xlarge {
    width: 60%;
    height: 60%;
    box-shadow: 40px 40px #03045e;
  }
  @include mixins.xxlarge {
    box-shadow: 40px 40px #03045e;
  }
}

.aboutme__contact__container {
  display: flex;
  width: 100%;
  min-height: 12vh;
  justify-content: center;
  // border: 2px solid red;
  background-color: #03045e;
}

.aboutme__contact__container__card {
  display: flex;
  // border: 2px solid orange;
  width: 33%;
  justify-content: space-around;
  align-items: center;
  @include mixins.xsmall {
    gap: 20px;
  }
}

.aboutme__contact__container__card--header {
  display: flex;
  // border: 2px solid blue;
  font-size: 72px;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: aliceblue;
  @include mixins.xsmall {
    visibility: hidden;
  }
  @include mixins.small {
    font-size: 28px;
  }
  @include mixins.medium {
    font-size: 48px;
  }
}

.aboutme__contact__container__card--icon {
  // border: 2px solid blue;
  @include mixins.xsmall {
    width: 72px;
    height: 72px;
  }
  width: 96px;
  height: 96px;
}

.aboutme__contact__container__card--footnote {
  // border: 2px solid blue;
  width: 33%;
  align-self: flex-end;
  text-align: right;
  color: aliceblue;
  @include mixins.xsmall {
    visibility: hidden;
  }
  @include mixins.small {
    visibility: hidden;
  }
  @include mixins.medium {
    font-size: 14px;
  }
}
