* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.scroll_marker {
  width: 100%;
  height: 52px;
}
@media only screen and (max-width: 576px) {
  .scroll_marker {
    height: 76px;
  }
}

#top {
  background-color: skyblue;
}

#projects {
  background-color: aliceblue;
}

#skills {
  background-color: navy;
}

#aboutme {
  background-color: skyblue;
}

nav {
  display: flex;
  border: 2px solid black;
  background-color: lightblue;
  border-radius: 10px;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5px;
  padding: 20px 30px 20px 100px;
}
@media only screen and (max-width: 576px) {
  nav {
    padding: 20px 30px 20px 20px;
  }
}

.nav_name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .nav_name {
    font-size: 12px;
  }
}

.nav_links {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.nav_links_header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2px;
}
@media only screen and (max-width: 576px) {
  .nav_links_header {
    font-size: 14px;
  }
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 20px;
  background-color: skyblue;
  min-height: 94vh;
}
@media only screen and (max-width: 576px) {
  .home {
    align-content: flex-start;
  }
}

.home__header {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 6.5vw;
}
@media only screen and (max-width: 576px) {
  .home__header {
    font-size: 42px;
    text-align: center;
    padding-top: 20px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .home__header {
    font-size: 54px;
    text-align: left;
    padding-top: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .home__header {
    font-size: 64px;
    text-align: left;
    padding-top: 20px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .home__header {
    font-size: 72px;
    text-align: left;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .home__header {
    font-size: 124px;
  }
}

.home__flex--img {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: navy;
}

#hero-photo {
  width: 100%;
  max-width: 1280px;
  max-height: 500px;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #hero-photo {
    width: 960px;
    height: 375px;
  }
}

.home__tagline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.8vw;
  width: 100%;
  text-align: right;
}
@media only screen and (max-width: 576px) {
  .home__tagline {
    font-size: 36px;
    text-align: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .home__tagline {
    font-size: 42px;
    text-align: right;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .home__tagline {
    font-size: 54px;
    text-align: right;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .home__tagline {
    font-size: 58px;
    text-align: right;
  }
}
@media screen and (min-width: 1920px) {
  .home__tagline {
    font-size: 72px;
  }
}

#downlink {
  mix-blend-mode: darken;
}
@media only screen and (max-width: 576px) {
  #downlink {
    width: 50px;
    height: 50px;
    margin-top: 70px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  #downlink {
    width: 100px;
    height: 100px;
    margin-top: 110px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  #downlink {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #downlink {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  #downlink {
    width: 150px;
    height: 150px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 94vh;
  background-color: aliceblue;
}

.projects__header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 72px;
}
@media only screen and (max-width: 576px) {
  .projects__header {
    font-size: 48px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .projects__header {
    font-size: 64px;
  }
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 86vh;
}

.projects__container__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 20px;
  padding: 10px;
}

.projects__container__row__card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 100%;
  font-size: 18px;
}
@media only screen and (max-width: 576px) {
  .projects__container__row__card {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .projects__container__row__card {
    width: 450px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .projects__container__row__card {
    width: 500px;
  }
}
@media only screen and (min-width: 1401px) {
  .projects__container__row__card {
    width: 600px;
  }
}

.projects__card__img {
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .projects__card__img {
    height: 75%;
    width: 75%;
  }
}
@media only screen and (min-width: 1401px) {
  .projects__card__img {
    height: 100;
    width: 100;
  }
}

.projects__card__title {
  padding: 10px;
  text-align: center;
  font-size: 24px;
}
@media only screen and (min-width: 1401px) {
  .projects__card__title {
    font-size: 36px;
  }
}

.projects__card__paragraph {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 90%;
  width: 80%;
}
@media only screen and (min-width: 1401px) {
  .projects__card__paragraph {
    font-size: 24px;
  }
}

.skills {
  background-color: navy;
  display: flex;
  flex-wrap: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  min-height: 94.5vh;
}

.skills_header {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  color: aliceblue;
  width: 100%;
  font-size: 100px;
}
@media only screen and (max-width: 576px) {
  .skills_header {
    font-size: 48px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .skills_header {
    font-size: 54px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .skills_header {
    font-size: 58px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .skills_header {
    font-size: 64px;
  }
}

.skills_container {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  width: 60%;
  min-height: 44vh;
  height: 50%;
}

.skills_container--edu {
  display: flex;
  flex-direction: column;
  min-height: 24vh;
  background-color: aliceblue;
}

.skills_header--edu {
  display: flex;
  justify-content: flex-start;
  color: navy;
  width: 100%;
  font-size: 100px;
}
@media only screen and (max-width: 576px) {
  .skills_header--edu {
    font-size: 48px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .skills_header--edu {
    font-size: 54px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .skills_header--edu {
    font-size: 58px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .skills_header--edu {
    font-size: 64px;
  }
}

.skills_container_row--edu {
  display: flex;
  justify-content: space-around;
  justify-self: start;
}

.skills_container_row_img {
  max-width: 40%;
  max-height: 10vh;
}

.skills_container_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}

.skills_container_row_icon {
  width: 200px;
  height: 200px;
}
@media only screen and (max-width: 576px) {
  .skills_container_row_icon {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .skills_container_row_icon {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .skills_container_row_icon {
    width: 175px;
    height: 175px;
  }
}

.aboutme {
  background-color: skyblue;
  display: flex;
  flex-wrap: flex-start;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  min-height: 84.5vh;
}

.aboutme__header {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 100px;
}
@media only screen and (max-width: 576px) {
  .aboutme__header {
    font-size: 48px;
    margin: 15px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .aboutme__header {
    font-size: 54px;
    margin: 15px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .aboutme__header {
    font-size: 68px;
    margin: 5px;
  }
}

.aboutme__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  min-height: 64vh;
  min-width: 400px;
  max-width: 1600px;
  height: 80%;
  gap: 30px;
}
@media only screen and (max-width: 576px) {
  .aboutme__container {
    width: 80%;
    min-width: 0px;
    min-height: 0px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .aboutme__container {
    width: 80%;
    min-width: 0px;
    min-height: 0px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .aboutme__container {
    width: 80%;
    min-width: 0px;
    min-height: 0px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .aboutme__container {
    width: 80%;
    min-width: 0px;
    min-height: 0px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .aboutme__container {
    width: 90%;
    min-width: 0px;
    min-height: 0px;
  }
}

.aboutme__container__card--img {
  display: flex;
  width: 50%;
  height: 100%;
  max-width: 500px;
  justify-content: center;
}

.aboutme__container__card--p {
  display: flex;
  width: 40%;
  min-width: 200px;
  font-size: 24px;
}
@media only screen and (max-width: 576px) {
  .aboutme__container__card--p {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .aboutme__container__card--p {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .aboutme__container__card--p {
    width: 40%;
    font-size: 20px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .aboutme__container__card--p {
    width: 40%;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .aboutme__container__card--p {
    width: 50%;
    font-size: 24px;
  }
}

#contact-image {
  width: 100%;
  border-radius: 90px;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #contact-image {
    width: 80%;
    height: 80%;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  #contact-image {
    width: 60%;
    height: 60%;
  }
}

.aboutme__contact__container {
  display: flex;
  width: 100%;
  min-height: 12vh;
  justify-content: center;
  background-color: aliceblue;
}

.aboutme__contact__container__card {
  display: flex;
  width: 33%;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .aboutme__contact__container__card {
    gap: 20px;
  }
}

.aboutme__contact__container__card--header {
  display: flex;
  font-size: 72px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .aboutme__contact__container__card--header {
    visibility: hidden;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .aboutme__contact__container__card--header {
    font-size: 32px;
  }
}

.aboutme__contact__container__card--icon {
  width: 96px;
  height: 96px;
}
@media only screen and (max-width: 576px) {
  .aboutme__contact__container__card--icon {
    width: 72px;
    height: 72px;
  }
}

.aboutme__contact__container__card--footnote {
  width: 33%;
  align-self: flex-end;
  text-align: right;
}
@media only screen and (max-width: 576px) {
  .aboutme__contact__container__card--footnote {
    visibility: hidden;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .aboutme__contact__container__card--footnote {
    visibility: hidden;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .aboutme__contact__container__card--footnote {
    font-size: 14px;
  }
}
